## ***Team - 7 Project Demonstration***
### ***StatDecisionKit***

### Installation and Setup

Install Git before proceeding further, as we install the library directly from GitHub.

Download and install Git from [here](https://git-scm.com/downloads)

Once Git is installed, run the following command to install the library(StatDecisionKit).


```bash
pip install git+https://github.com/pranavsai-98/StatDecisionKit.git

In [2]:
# pip install git+https://github.com/pranavsai-98/StatDecisionKit.git

Once the library is sucessfully installed, you can import the library using the following command.

```python
import StatDecisionKit as sdk
```

In [3]:
import StatDecisionKit as sdk

### Methods available in our package

In [4]:
# Importing the dataset
import pandas as pd
df = pd.read_csv("data/airline_data.csv")
df.head()

,airline,flight_code,date,from,dep_time,dep_time_cat,to,arr_time,arr_time_cat,stop,...,price,month,day,weekend,time_taken_hms,time_taken_hours,time_taken_minutes,from_location,to_location,distance
0,Air India,AI - 868,2022-02-11,Delhi,18:00:00,evening,Mumbai,20:00:00,evening,0,...,320.15,February,Friday,0,2H 0M 0S,2.00,120,"28.7041, 77.1025","19.0760, 72.8777",717.55
1,Air India,AI - 624,2022-02-11,Delhi,19:00:00,evening,Mumbai,21:15:00,night,0,...,320.15,February,Friday,0,2H 15M 0S,2.25,135,"28.7041, 77.1025","19.0760, 72.8777",717.55
2,Air India,AI - 531,2022-02-11,Delhi,20:00:00,evening,Mumbai,20:45:00,evening,1,...,527.75,February,Friday,0,24H 45M 0S,24.75,1485,"28.7041, 77.1025","19.0760, 72.8777",717.55
3,Air India,AI - 839,2022-02-11,Delhi,21:25:00,night,Mumbai,23:55:00,night,1,...,555.62,February,Friday,0,26H 30M 0S,26.50,1590,"28.7041, 77.1025","19.0760, 72.8777",717.55
4,Air India,AI - 544,2022-02-11,Delhi,17:15:00,evening,Mumbai,23:55:00,night,1,...,583.62,February,Friday,0,6H 40M 0S,6.67,400,"28.7041, 77.1025","19.0760, 72.8777",717.55

### Get Feature Type
if you want to know the type of feature ("Numerical", or "Categorical") of a particular column in your dataset, you can use the following method.

```bash
sdk.StatisticalTestRunner.get_feature_type(dataframe, column_name)

In [14]:
column_1 = "airline"
print("""Data type of feature "{}" is {}""".format(column_1, sdk.StatisticalTestRunner.get_feature_type(df, column_1)))

column_2 = "time_taken_minutes"
print("""Data type of feature "{}" is {}""".format(column_2, sdk.StatisticalTestRunner.get_feature_type(df, column_2)))

Data type of feature "airline" is categorical
Data type of feature "time_taken_minutes" is numerical

### Determining Which Statistical Test to use

list of statistical tests supported
- Z-Test
- One sampled T-Test
- Two sampled T-Test 
- Paired T-Test
- ANOVA
- Chi-Square Test


use the follwing method to determine which statistical test to use.

```bash
sdk.StaticticalTestRunner.determine_statistical_test(dataframe, feature_1, feature_2, paired)

In [31]:
# price, time_taken_minutes, from

sdk.StatisticalTestRunner.determine_statistical_test(df,"airline", "from")

'Chi-squared test of independence'

### Executing Statistical test

if you want to automatically determine and execute the statistical test, you can use the following method.

```bash
sdk.StatisticalTestRunner.execute_statistical_test(dataframe, feature_1, feature_2, detailed = True, handle_missing = "remove")

In [22]:
sdk.StatisticalTestRunner.execute_statistical_test(df, "price", "from", detailed = True, handle_missing = "remove")

{'test_name': 'ANOVA',
 'test_outcome': 'Significant',
 'p_value': 1.4418200326884823e-154}

In [23]:
sdk.StatisticalTestRunner.execute_statistical_test(df, "airline", "from", detailed = True, handle_missing = "remove")

{'test_name': 'Chi-squared test of independence',
 'test_outcome': 'Significant',
 'p_value': 0.0}

### Feature selection

for your dataframe if you want to remove the features which are not significant, you can use the following method.

```bash
sdk.StatisticalTestRunner.analyze_features(dataframe, target_variable, alpha)

In [25]:
sdk.StatisticalTestRunner.analyze_features(df, "price")

Significant features: ['airline', 'flight_code', 'date', 'from', 'dep_time', 'dep_time_cat', 'to', 'arr_time', 'arr_time_cat', 'stop', 'class', 'month', 'day', 'weekend', 'time_taken_hms', 'time_taken_hours', 'time_taken_minutes', 'from_location', 'to_location', 'distance']
Non-significant features: []

,airline,flight_code,date,from,dep_time,dep_time_cat,to,arr_time,arr_time_cat,stop,...,month,day,weekend,time_taken_hms,time_taken_hours,time_taken_minutes,from_location,to_location,distance,price
0,Air India,AI - 868,2022-02-11,Delhi,18:00:00,evening,Mumbai,20:00:00,evening,0,...,February,Friday,0,2H 0M 0S,2.00,120,"28.7041, 77.1025","19.0760, 72.8777",717.55,320.15
1,Air India,AI - 624,2022-02-11,Delhi,19:00:00,evening,Mumbai,21:15:00,night,0,...,February,Friday,0,2H 15M 0S,2.25,135,"28.7041, 77.1025","19.0760, 72.8777",717.55,320.15
2,Air India,AI - 531,2022-02-11,Delhi,20:00:00,evening,Mumbai,20:45:00,evening,1,...,February,Friday,0,24H 45M 0S,24.75,1485,"28.7041, 77.1025","19.0760, 72.8777",717.55,527.75
3,Air India,AI - 839,2022-02-11,Delhi,21:25:00,night,Mumbai,23:55:00,night,1,...,February,Friday,0,26H 30M 0S,26.50,1590,"28.7041, 77.1025","19.0760, 72.8777",717.55,555.62
4,Air India,AI - 544,2022-02-11,Delhi,17:15:00,evening,Mumbai,23:55:00,night,1,...,February,Friday,0,6H 40M 0S,6.67,400,"28.7041, 77.1025","19.0760, 72.8777",717.55,583.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300256,Vistara,UK - 832,2022-03-31,Chennai,07:05:00,early morning,Hyderabad,20:55:00,evening,1,...,March,Thursday,0,13H 50M 0S,13.83,830,"13.0827, 80.2707","17.3850, 78.4867",320.58,96.21
300257,Vistara,UK - 832,2022-03-31,Chennai,07:05:00,early morning,Hyderabad,20:55:00,evening,1,...,March,Thursday,0,13H 50M 0S,13.83,830,"13.0827, 80.2707","17.3850, 78.4867",320.58,96.36
300258,Vistara,UK - 826,2022-03-31,Chennai,12:30:00,afternoon,Hyderabad,09:05:00,morning,1,...,March,Thursday,0,20H 35M 0S,20.58,1235,"13.0827, 80.2707","17.3850, 78.4867",320.58,108.00
300259,Vistara,UK - 822,2022-03-31,Chennai,09:45:00,morning,Hyderabad,09:05:00,morning,1,...,March,Thursday,0,23H 20M 0S,23.33,1400,"13.0827, 80.2707","17.3850, 78.4867",320.58,108.00
300260,Vistara,UK - 824,2022-03-31,Chennai,20:30:00,evening,Hyderabad,20:55:00,evening,1,...,March,Thursday,0,24H 25M 0S,24.42,1465,"13.0827, 80.2707","17.3850, 78.4867",320.58,108.00

In [30]:
df_2 = pd.read_csv("data/house_price.csv")
new_df_2 = sdk.StatisticalTestRunner.analyze_features(df_2, "SalePrice")
new_df_2.head()

Significant features: ['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Alley', 'LotShape', 'LandContour', 'LotConfig', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'Fence', 'MiscVal', 'MoSold', 'YrSold', 'SaleType', 'SaleCondition']
Non-significant features: ['Street', 'Utilities', 'LandSlope', 'PoolQC', 'MiscFeature']

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Alley,LotShape,LandContour,LotConfig,Neighborhood,...,3SsnPorch,ScreenPorch,PoolArea,Fence,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,NaN,Reg,Lvl,Inside,CollgCr,...,0,0,0,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,NaN,Reg,Lvl,FR2,Veenker,...,0,0,0,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,NaN,IR1,Lvl,Inside,CollgCr,...,0,0,0,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,NaN,IR1,Lvl,Corner,Crawfor,...,0,0,0,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,NaN,IR1,Lvl,FR2,NoRidge,...,0,0,0,NaN,0,12,2008,WD,Normal,250000